@import url(reset.min.css);
body {
    font-size: 12pt;
    font-family: helvitica, sans-serif;
    margin: 0;
    padding: 0;
}
body>header {
    display: block;
    background-color: black;
    color: white;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(74,74,74)),
        color-stop(0.53, rgb(0,0,0)),
        color-stop(0.77, rgb(71,71,71))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(74,74,74) 6%,
        rgb(0,0,0) 53%,
        rgb(71,71,71) 77%
    );
    padding: 0 1em;
    font-size: 150%;
}

article {
    font-size: 100%;
    padding: 1em;
}
section, aside {font-size: 90%;}
section {
    border-top: 1px solid gray;
    margin-top: 1em;
    padding-top: 1em;
}
aside {
    width: 300px;
    float: right;
    background-color: white;
    border: 2px solid gray;
    margin: 1em;
    padding: 1em 1em 0 1em;
}
h1 {font-size: 150%;}
h2 {font-size: 130%;}
h3 {font-size: 115%;}
h4 {font-size: 100%;}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0.5em 0;
}
p {
    font-size: 12pt;
    margin: 0;
    padding: 0 0 1em 0;
}
